/* Write your CSS here! */
header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px 10px;
    background: white;
    width: 50vw;
}

#mainHeading {
    color: red;
}

body {
    font-family: Arial, sans-serif;
    background: url("./images/boatLarge.jpeg") fixed;
    background-color: lightcoral;
    margin: 10px;
    width: 100vw;
    padding: 15px 10px;
    box-sizing: border-box;
    color: white;
}

#suess-quote {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
    color: lightpink;

}

h1 {
    color: red;
    margin-center: 20px;
}


section {
    
    color: lightpink;
}

h2 {
    color: white;
    background-color: white
    margin: 
}

h3 {
    color: grey
    background-color: white
}

.funParagraph {
    color: green;
    margin: 20px;
}