/* Write your CSS here! */
header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body {
    margin: 8px;
    font-family: Arial, sans-serif;
    background-color: lightcoral;
}

h1 {
    color: red;
    margin-center: 20px;
}

section {
    color: darkblue;
}

h2 {
    color: grey
    background-color: white
    margin: 
}

h3 {
    color: grey
    background-color: white
}

.funParagraph {
    color: green;
    margin: 20px;
}